<!--? 244 Getting Access to the Angular-managed Form -->
<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        name="email"
        ngModel
        required
        email
        #email="ngModel"
      />
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        name="password"
        ngModel
        required
        minlength="6"
        maxlength="20"
        #password="ngModel"
      />
    </div>

    <button class="button">Login</button>
  </div>

  <!-- ?247 Using the Form Validation Status To Provide User Feedback -->
  <!-- form.form.controls["email"].touched && -->
  <!-- form.form.controls["password"].touched -->
  <!-- @if (form.form.invalid && email.touched && password.touched) {
    <p class="control-error">
      Invalid values detected. Please check your input
    </p>
  } -->
  @if (email.invalid && email.touched && email.dirty) {
    <p class="control-error">Invalid email address entered.</p>
  }

  @if (password.invalid && password.touched && password.dirty) {
    <p class="control-error">Invalid password at least 6 characters entered.</p>
  }
</form>
